@model Proyecto.Model.MisModelos.Cliente

@{
    ViewBag.Title = "Eliminar Cliente";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Esta seguro de eliminar este Cliente?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cedula)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cedula)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimerApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SegundoApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Direccion.Pais)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion.Pais)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Direccion.Provincia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion.Provincia)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Direccion.Canton)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion.Canton)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Direccion.Distrito)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion.Distrito)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
