@model Proyecto.Model.MisModelos.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>

<body>
    <div>
        <h4>Cliente</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>

                @Html.DisplayNameFor(model => model.Cedula)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cedula)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrimerApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SegundoApellido)
            </dd>

            @foreach (var telefono in Model.Telefonos)
            {
                <dt>
                    Tipo número de teléfono
                </dt>

                <dd>
                    @telefono.Tipo
                </dd>
                <dt>
                    Número 
                </dt>

                <dd>
                    @telefono.Numero
                </dd>

            }



            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion.Pais)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion.Pais)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Direccion.Provincia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion.Provincia)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Direccion.Canton)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion.Canton)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Direccion.Distrito)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion.Distrito)
            </dd>

        </dl>
    </div>
    <p>

        @Html.ActionLink("Edit", "Edit",new { id=Model.Cedula } ) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
